* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 30px;
}
.page {
    margin: 0 auto;
    max-width: 1000px;
}
h1 {
    margin-top: 5rem;
}
th {
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3em;
}
table {
    width: 100%;
}
.severity {
    font-weight: bold;
    text-align: center;
    color: #fafafa;
}
.cve {
    font-weight: bold;
    text-align: left;
    width: 90%;
}
.score {
    float: right;
}
.summary td {
    width: 20%;
}

@media print {
    body {
        padding: 0;
        font-size: 12px;
    }
    table {
        print-color-adjust: exact;
    }
    h1 {
        margin-top: 3rem;
        page-break-before: always;
    }
}

td {
    &.severity-LOW {
        background-color: #5fbb31;
    }

    &.severity-MEDIUM {
        background-color: #e9c600;
    }

    &.severity-HIGH {
        background-color: #ff8800;
    }

    &.severity-CRITICAL {
        background-color: #e40000;
    }

    &.severity-UNKNOWN {
        background-color: #747474;
    }
}

tr {
    &.severity-LOW {
        background-color: #5fbb3160;
    }

    &.severity-MEDIUM {
        background-color: #e9c60060;
    }

    &.severity-HIGH {
        background-color: #ff880060;
    }

    &.severity-CRITICAL {
        background-color: #e4000060;
    }

    &.severity-UNKNOWN {
        background-color: #74747460;
    }
}