<h2 id="{{ .Name }}">{{ .Name }}</h2>
<table class="summary">
    <tr>
        <th>Critical</th>
        <th>High</th>
        <th>Medium</th>
        <th>Low</th>
    </tr>
    <tr>
        <td class="severity severity-CRITICAL">{{ .Report.Summary.CriticalCount }}</td>
        <td class="severity severity-HIGH">{{ .Report.Summary.HighCount }}</td>
        <td class="severity severity-MEDIUM">{{ .Report.Summary.MediumCount }}</td>
        <td class="severity severity-LOW">{{ .Report.Summary.LowCount }}</td>
    </tr>
</table>
<h3>Details</h3>
<table>
    <tr>
        <th>Severity</th>
        <th class="cve">ID</th>
    </tr>
    {{- range .Report.Checks }}
    <tr class="severity-{{ severity .Severity }}">
        <td class="severity severity-{{ severity .Severity }}">{{ severity .Severity }}</td>
        <td class="cve">{{ .ID }}</td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>{{ .Title }}</strong></p>
            <p>{{ .Description }}</p>
            {{ if .Messages }}
            <ul>
                {{ range .Messages }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
            {{ end }}
            {{ if .Scope }}
                <p>{{ .Scope.Type }} {{ .Scope.Value }}</p>
            {{ end }}
        </td>
    </tr>
    {{- end }}
</table>