<h1>Overview</h1>

<ul>
    {{ if gt (len .ClusterConfigAudits) 0 }}
    <li><a href="#clusterconfigaudit">Cluster Config Audits</a><ul>
        {{- range .ClusterConfigAudits }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .ClusterInfraAssessments) 0 }}
    <li><a href="#clusterinfraassessment">Cluster Infra Assessments</a><ul>
        {{- range .ClusterInfraAssessments }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .ClusterRbacAssessments) 0 }}
    <li><a href="#clusterrbacassessment">Cluster Rbac Assessments</a><ul>
        {{- range .ClusterRbacAssessments }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .ClusterVulnerabilities) 0 }}
    <li><a href="#clustervuln">Cluster Vulnerabilities</a><ul>
        {{- range .ClusterVulnerabilities }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .ConfigAudits) 0 }}
    <li><a href="#configaudit">Config Audits</a><ul>
        {{- range .ConfigAudits }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .ExposedSecrets) 0 }}
    <li><a href="#exposedsecret">Exposed Secrets</a><ul>
        {{- range .ExposedSecrets }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .InfraAssessments) 0 }}
    <li><a href="#infraassessment">Infra Assessments</a><ul>
        {{- range .InfraAssessments }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .RbacAssessments) 0 }}
    <li><a href="#rbacassessment">Rbac Assessments</a><ul>
        {{- range .RbacAssessments }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
    {{ if gt (len .Vulnerabilities) 0 }}
    <li><a href="#vuln">Vulnerabilities</a><ul>
        {{- range .Vulnerabilities }}
        <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
        {{- end }}
    </ul></li>
    {{ end }}
</ul>
