{{ if gt ( numberOfReports . ) 1 }}
<h1>Table of Contents</h1>

<ul>
    {{ if gt (len .ClusterConfigAudits) 0 }}
    <li><a href="#clusterconfigaudit">Cluster Config Audits</a><ul>
        <li><a href="#clusterconfigauditIndex">Index</a></li>
        <li><a href="#clusterconfigauditDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .ClusterInfraAssessments) 0 }}
    <li><a href="#clusterinfraassessment">Cluster Infra Assessments</a><ul>
        <li><a href="#clusterinfraassessmentIndex">Index</a></li>
        <li><a href="#clusterinfraassessmentDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .ClusterRbacAssessments) 0 }}
    <li><a href="#clusterrbacassessment">Cluster Rbac Assessments</a><ul>
        <li><a href="#clusterrbacassessmentIndex">Index</a></li>
        <li><a href="#clusterrbacassessmentDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .ClusterVulnerabilities) 0 }}
    <li><a href="#clustervuln">Cluster Vulnerabilities</a><ul>
        <li><a href="#clustervulnIndex">Index</a></li>
        <li><a href="#clustervulnDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .ConfigAudits) 0 }}
    <li><a href="#configaudit">Config Audits</a><ul>
        <li><a href="#configauditIndex">Index</a></li>
        <li><a href="#configauditDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .ExposedSecrets) 0 }}
    <li><a href="#exposedsecret">Exposed Secrets</a><ul>
        <li><a href="#exposedsecretIndex">Index</a></li>
        <li><a href="#exposedsecretDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .InfraAssessments) 0 }}
    <li><a href="#infraassessment">Infra Assessments</a><ul>
        <li><a href="#infraassessmentIndex">Index</a></li>
        <li><a href="#infraassessmentDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .RbacAssessments) 0 }}
    <li><a href="#rbacassessment">Rbac Assessments</a><ul>
        <li><a href="#rbacassessmentIndex">Index</a></li>
        <li><a href="#rbacassessmentDetail">Detail</a></li>
    </ul></li>
    {{ end }}
    {{ if gt (len .Vulnerabilities) 0 }}
    <li><a href="#vuln">Vulnerabilities</a><ul>
        <li><a href="#vulnContainerSummary">Container Summary</a></li>
        <li><a href="#vulnIndex">Index</a></li>
        <li><a href="#vulnDetail">Detail</a></li>
    </ul></li>
    {{ end }}
</ul>
{{ end }}
